{% extends 'base.html.twig' %}

{% block title 'Accueil' %}
 {% block body %}
    <div class="button add">
     <a href="{{path('app_add_index')}}" class="Cbtn Cbtn-primary">Ajouter</a>
    </div>
    <section class="our-webcoderskull padding-lg">
     <div class="row">
        <div class="col-12 col-md-6 col-lg-3 pb-3">
            <div class="cnt-block">
                <figure><img src="../../assets/aristote.png" class="img-responsive" alt=""></figure>
                <h3>Book1</h3>
                <div class="button">
                  <a href="{{path('app_details_show')}}" class="Cbtn Cbtn-primary">Voir</a>
                  <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pb-3">
            <div class="cnt-block">
                <figure><img src="../../assets/aristote.png" class="img-responsive" alt=""></figure>
                <h3> Book1</h3>
                <div class="button">
                  <a href="{{path('app_details_show')}}" class="Cbtn Cbtn-primary">Voir</a>
                  <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pb-3">
            <div class="cnt-block">
                <figure><img src="../../assets/aristote.png"class="img-responsive" alt=""></figure>
                <h3>Book1</h3>
                <div class="button">
                  <a href="{{path('app_details_show')}}" class="Cbtn Cbtn-primary">Voir</a>
                  <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pb-3">
            <div class="cnt-block">
                <figure><img src="../../assets/aristote.png" class="img-responsive" alt=""></figure>
                <h3>Book1</h3>
                <div class="button">
                  <a href="{{path('app_details_show')}}" class="Cbtn Cbtn-primary">Voir</a>
                  <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
                <div class="col-12 col-md-6 col-lg-3 pb-3">
            <div class="cnt-block">
                <figure><img src="../../assets/aristote.png" class="img-responsive" alt=""></figure>
                <h3>Book1</h3>
                <div class="button">
                  <a href="{{path('app_details_show')}}" class="Cbtn Cbtn-primary">Voir</a>
                  <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
    </div>
  </section>


{% endblock %}